body
  padding: 100px
  background: #eee

.wrap
  text-align: center
  vertical-align: middle
  background: white
  margin-bottom: 100px
  padding-bottom: 100px
  box-shadow: 0px 40px 60px -20px rgba(0, 0, 0, .4)

h1
  padding: 50px

.spinner
  height: 100px
  width: 100px
  border-radius: 50%
  background: #eee
  margin: 50px
  display: inline-block
  position: relative

  &:after,&:before
    content: ''
    display: block
    height: 100px
    width: 100px
    border-radius: 50px

.spinner-1:after
  position: absolute
  top: 0px
  left: 0px
  border: 4px solid transparent
  border-top-color: orangered
  border-bottom-color: orangered
  animation: spin 1s linear infinite

@keyframes spin
  0%
    transform: rotate(0deg) scale(1)
  50%
    transform: rotate(180deg) scale(.5)
  100%
    transform: rotate(360deg) scale(1)


.spinner-2
  animation: spin2 2s linear infinite

  &:after,&:before
    position: absolute
    height: 10px
    width: 10px
    border-radius: 50%
    background: orangered
    left: 50%
    margin-left: -5px
    top: -5px
    animation: bounce 200ms linear infinite


  &:after
    top: auto
    bottom: -5px
    animation: bounce2 200ms linear infinite

@keyframes spin2
  0%
    transform: rotate(0deg)
  50%
    transform: rotate(180deg)
  100%
    transform: rotate(360deg)

@keyframes bounce
  0%
    transform: translateY(0px)
  50%
    transform: translateY(15px)
  100%
    transform: translateY(30px)

@keyframes bounce2
  0%
    transform: translateY(-0px)
  50%
    transform: translateY(-15px)
  100%
    transform: translateY(-30px)
